/*Style Sheet for Blog project 
  Version 1.0
*/
body{
	font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    color: #333;
}
.main-title{
	display: block;
	font-size: 35px;
	color: #ccc;
	text-align: center;
	margin-bottom: 30px;
	text-decoration: none;
}
.login-area{
	display: absolute;
	width: 200px;
}
p.f-user{
	float: left;
}